html,
body,
div#root,
div#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "GT-Planar", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
